/* GENERAL */
body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #060606;
    margin:0;
    padding:0;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #060606(65, 65, 65) #0feaea;   /* scroll thumb and track */
}

/* Scroll Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: black #0feaea;
}

/* Scroll Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #0feaea;
}

*::-webkit-scrollbar-thumb {
    background-color: #060606;
    /* border-radius: 20px; */
    border: 3px solid #060606;
}



/* Efecto ruido */ 
.crazy{
    height: 100vh;
    background: 
    repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;
  background-blend-mode: difference;
  animation: b .2s infinite alternate;
}
@keyframes b{
  100% {background-position: 50% 0, 60% 50%}
}

.container {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    max-width: 960px;
    text-align: center;
}

.banner-home {
    background-image: url(./assets/back.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    top: 0;
}

/* HEADER */
.header {   
    height: 132px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 4;
}

.main-logo {
    width: 160px;
    transition: all 200ms;
    margin-left: 30px;
}

.main-logo:hover {
    transition: all 200ms;
    filter: brightness(1.5);
    animation: superblur 0.2s linear alternate;
}

.header-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;    
}

.nav-list-item {
    margin: 0 24px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: all 200ms;
}

.nav-link:hover {
    color: #0feaea;
    transition: all 200ms;
    animation: lightblur 0.2s linear alternate;
}

.num-nav {
    color: #0feaea;
    font-size: 18px;
    font-weight: 600;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    color: #fff;
    padding-top: 80px;

}

.header--scroll-down {
    transform: translateY(-100%);
    opacity: 0;
}

.header--scroll-up {
    top: 0;
    height: 100px;
    border-bottom: 1px solid #0feaea;
    backdrop-filter: blur(5px);
}

/* FOOTER */
.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
}

.contact-link{
    color: #0feaea;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.contact-link:hover {
    color: #fff;
    transition: all 200ms;
    animation: lightblur 0.2s linear alternate;
}

.contact-div {
    transform: rotate(90deg);
}

.footer div ul {
    list-style: none;
}

#linkedin-icon {
    scale: 1.2;
}

#linkedin-icon:hover {
    scale: 1.4;
    transition: all 200ms;
    animation: lightblur 0.2s linear alternate;
}

#git-icon:hover {
    scale: 1.2;
    transition: all 200ms;
    animation: lightblur 0.2s linear alternate;
}

.end-page {
    margin-top: 200px;
    margin-bottom: 20px;
    z-index: 3;
}

.end-page-text {
    font-size: 10px !important;
    z-index: 3;
}

/* RESPONSIVE */
@media screen and (max-width: 1220px) {
    .footer {
        display: fixed;
        flex-direction: column;
        position: inherit;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: center;
    }

    .footer-social {
        display: flex;
        justify-content: center;
    }

    .footer-contact {
        justify-content: center;
        margin-top: 10px;
    }

    .contact-div {
        transform: rotate(0deg);
    }

    .footer-list {
        margin: 0;
        padding: 0;
        justify-content: center;
        display: flex;
    }
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 95%;
    }
}

@media screen and (max-width: 650px) {
    .cont-main-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .main-logo {
        margin-top: 5px;
        width: 100px;
        transition: all 200ms;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-list {
        margin: 0;
        padding: 0;
    }

    .nav-list-item {
        margin: 5px 15px;
    }
}

@media screen and (max-width: 490px) {
    .main-logo {
        margin-top: 3px;
        width: 100px;
        transition: all 200ms;
    }
    .nav-list-item {
        margin: 5px 15px;
    }

    .nav-link {
        font-size: 16px;
    }

    .num-nav {
        display: none;
    }

    .header-wrapper {
        height: 90px;
    }
}

@media screen and (max-width: 350px) {
    .nav-list-item {
        margin: 5px 15px;
    }

    .num-nav {
        display: none;
    }

    .nav-link {
        font-size: 14px;
        color: #0feaea;
    }

    .header-wrapper {
        height: 90px;
    }
}

@media screen and (max-width: 300px) {
    .nav-list-item {
        margin: 5px 10px;
    }

    .nav-link {
        font-size: 12px;
    }
}


/* ANIMATIONS */
@keyframes superblur {
    0% {
        filter: blur(0px);
    }
    30% {
        transform: translateX(2px);
    }
    60% {
        filter: blur(5px);
    }
    65% {
        transform: translateX(-7px);
        filter: blur(0px);
    }
    100% {
        filter: blur(0px);
    }
}

@keyframes lightblur {
    0% {
        filter: blur(3px);
    }
    100% {
        filter: blur(0px);
    }
}